.tab-pane.fade.in.active#allsubmissions
  %h3 All submissions
  %p.light
    Newest to oldest. Click on a table heading to sort.
  %table.table.table-hover.table-striped#allsubmissions-table
    - if @all_submissions.empty?
      %p No submissions found.
    - else
      %thead
        %tr
          %th Submitted by
          %th Uni ID
          %th Date submitted
          %th View submission
          %th Flags
          - if @assignment.kind == "plaintext"
            %th.hidden Content
      %tbody
        - @all_submissions.each do |s|
          %tr
            %td= link_to s.user.full_name, user_path(s.user)
            %td= link_to s.user.uid, user_path(s.user)
            %td
              = s.created_at.strftime('%d/%m/%Y %I:%M%p')
            %td= link_to "View Submission", submission_path(s)
            %td
              - if is_late_with_extension(s, @assignment)
                %span.label.label-warning.label-left
                  Extension until #{@assignment.latest_extension_for(s.user).due_date.strftime('%d/%m/%Y %I:%M%p')}
              - elsif is_late(s, @assignment) || is_late_without_extension(s, @assignment)
                %span.label.label-danger.label-left
                  Late
              - if s.finalised
                %span.label.label-success.label-left
                  Finalised
              - if @comments[s.id].present? && @comments[s.id].map(&:attachment).map(&:file).compact.present?
                %span.label.label-primary.label-left
                  Attachment
              - elsif @comments[s.id].present?
                %span.label.label-primary.label-left
                  Commented
              - if @assignment.peer_review_enabled && s.finalised
                - if s.peer_reviewed?
                  %span.label.label-success.label-left{title: s.peer_review_user_id.nil? ? "No user" : User.find(s.peer_review_user_id).full_name + " (#{User.find(s.peer_review_user_id).uid})", data: {toggle:"tooltip", placement:"bottom"}}
                    Reviewed
                - elsif !s.peer_reviewed? && !s.peer_review_user_id.nil?
                  %span.label.label-warning.label-left{title: s.peer_review_user_id.nil? ? "No user" : User.find(s.peer_review_user_id).full_name + " (#{User.find(s.peer_review_user_id).uid})", data: {toggle:"tooltip", placement:"bottom"}}
                    Assigned
            - if @assignment.kind == "plaintext"
              %td.hidden
                = @submission_hash[s.id].first.plaintext