- title "Create Assignment for #{@course.code}"
.row
  .col-md-12
    %h1.page-header
      New assignment for #{@course.code}
    = form_for @assignment, :html => {:class => "form-horizontal"} do |f|
      %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}
      .col-md-12
        %input{:name => "course_id", :type => "hidden", :value => @course.id}
        .row
          .col-md-8.col-md-offset-2
            %h3 Assignment details
            %label.control-label{:for => "assignment_name"} Assignment name
            .input-group
              .controls
                %input#assignment_name.form-control{:name => "assignment_name", :placeholder => "Assignment 1", :type => "text"}
            %label.control-label{:for => "date_due"} Date Due
            .input-group
              .controls
                %input#date_due.form-control{:name => "date_due", :placeholder => "dd/mm/yyyy hh:mm, three hours from now, tomorrow 5pm...", :type => "text"}
            
            .input-group
              = f.label :lang, "Language", class: "control-label"
              .controls
                = f.select :lang, Assignment::SUPPORTED_LANGUAGES, {}, class: "form-control"
              = f.label :kind, "Submission type"
              .controls
              = f.select :kind, Submission::SUPPORTED_TYPES, {}, class: "form-control"
            .input-group
              - if @assignment.kind == "zip"
                = f.label :zip_regex, "Files to ignore in ZIP submission preview"
                .controls
                  = f.text_field :zip_regex, placeholder: "Example: \\.o|\\.png", class: "form-control"
              - else
                = f.label :zip_regex, "Files to ignore in ZIP submission preview", class: "hidden"
                .controls.hidden
                  = f.text_field :zip_regex, placeholder: "Example: \\.o|\\.png", class: "form-control"
            .input-group
              .controls
                = f.label :custom_compilation, "Use custom compilation", style: "padding: 0 !important"
                %span.small.light
                  (Options: $filename, $folder, $filepath)
                = f.check_box :custom_compilation
                #custom-command-field.controls.hidden
                  = f.text_field :custom_command, class: "form-control", placeholder: "Enter a custom compilation command here"

            %label.control-label{:for => "text"} Submission instructions
            .input-group
              .controls
                %textarea#text.form-control{:name => "text", :rows => "8"}
            #compilation-tests
              %label.control-label{:for => "tests"} Compilation tests (separate each boolean expression with a newline)
              .input-group
                .controls
                  %textarea#text.form-control{:name => "tests", :rows => "8"}
            .input-group
              .controls
                = f.label :peer_review_enabled, "Enable peer review", style: "padding: 0 !important"
                = f.check_box :peer_review_enabled
            .input-group
              .controls
                = f.label :disable_compilation, "Disable compilation", style: "padding: 0 !important"
                = f.check_box :disable_compilation
            .input-group
              .controls
                = f.label :pdf_regex, "Files to skip when making PDF", style: "padding: 0 !important"
                = f.text_field :pdf_regex, class: "form-control", placeholder: "Example: \\.o|\\.png"
            .input-group
              .controls
                %p
                  Also copy submission to:
                  %span.small.light
                    (Options: $uid, $fullname, $submissionid)
                = f.text_field :copy_path, class: "form-control", placeholder: "/dept/dcs/comp1100/submissions/Assignment_2/$uid/Player.hs"
            .input-group
              .controls
                %input.btn.btn-primary{:style => "float:right;", :type => "submit", :value => "Create"}