- title "#{@assignment.name}"
.row
  #content.col-md-9
    %h1#assignment-name.page-header{"assignment-id" => @assignment.id}
      = @assignment.name
      .menu-icon-container.hidden
        %span.glyphicon.glyphicon-tasks.menu-icon
    %p.bold Submission Instructions
    %p.italic
      Assignment for #{link_to @course.code + ": " + @course.name, course_path(@course.id)}
    - if @assignment.due_date
      %p
        .alert.alert-warning{:style => "font-weight: 600"}
          %span.glyphicon.glyphicon-time>
          Due at #{@assignment.due_date.strftime('%d/%m/%Y %I:%M%p')}
    %p.italic
      Language: #{@assignment.lang}
    %p= @assignment.description

    - if current_user.is_staff_for_course?(@course) && !@all_submissions.empty?
      - if @all_submissions.select('created_at').group("date_trunc('day', created_at)").count.to_h.length > 1
        .spinner#chart-spinner
          .double-bounce1
          .double-bounce2
        .charts
          .light.chart-title
            Submissions by hour for the past week
          %canvas#chart{width: "800", height: "200"}
          .light.chart-title
            Submissions by day
          %canvas#daily-chart{width: "800", height: "150"}
          .pie-charts
            .pie-chart
              .light.chart-title
                Submissions
              %canvas#submissions-chart{width: "150", height: "150"}
              .legend#submissions-chart-legend
            .pie-chart
              .light.chart-title
                Comments
              %canvas#comments-chart{width: "150", height: "150"}
              .legend#comments-chart-legend

      - if !@course.groups.empty?
        %h3 Submissions by group
        .spinner#groups-spinner
          .double-bounce1
          .double-bounce2
        %table.table.table-hover.table-striped
          %thead
            %tr
              %th Group
              %th Tutor
              %th Finalised submissions
              %th Unique submissions
          %tbody#group-data

    - if current_user.is_admin_or_convenor?
      %h3 Extensions
      %table.table.table-hover.table-striped
        %tr
          %th Uni ID
          %th Name
          %th Extended Due Date
          %th Delete
        - for extension in @assignment.assignment_extensions
          %tr
            %td= link_to extension.user.uid, user_path(extension.user)
            %td= link_to extension.user.full_name, user_path(extension.user)
            %td= extension.due_date.strftime('%d/%m/%Y %I:%M%p')
            %td
              %a{"data-confirm" => "Are you sure you wish to delete this extension?", "data-method" => "delete", :href => url_prefix + "/assignment_extensions/#{extension.id}", :rel => "nofollow"}
                %span.glyphicon.glyphicon-trash
                Delete

    %h3 Your submissions
    %table.table.table-hover.table-striped
      - if @submissions.empty? && !current_user.is_staff?
        %p
        .alert.alert-danger{:style => "font-weight: 600"}
          %span.glyphicon.glyphicon-warning-sign
          %span You currently have no submissions for this assignment.
        %a{:href => url_prefix + "/submissions/#{@assignment.id.to_s}/new"} New submission
      - else
        %tr
          %th Submitted by
          %th Uni ID
          %th Date submitted
          %th
        - @submissions.each do |s|
          %tr
            %td= link_to s.user.full_name, user_path(s.user)
            %td= link_to s.user.uid, user_path(s.user)
            %td
              - if s.finalised
                = link_to submission_path(s), class: "good" do
                  %p
                    %span.glyphicon.glyphicon-thumbs-up
                    = s.created_at.strftime('%d/%m/%Y %I:%M%p')
                - if is_late_with_extension(s, @assignment)
                  .alert.alert-warning
                    %span.glyphicon.glyphicon-warning-sign
                    Your submission is late, but you have an extension granted until #{@assignment.latest_extension_for(s.user).due_date.strftime('%d/%m/%Y %I:%M%p')}
                - elsif is_late(s, @assignment) || is_late_without_extension(s, @assignment)
                  .alert.alert-danger
                    %span.glyphicon.glyphicon-warning-sign
                    Your submission is late. Unless you have been granted an exception your assignment may not be marked.
              - else
                = link_to submission_path(s) do
                  %p
                    %span.glyphicon.glyphicon-ok
                    = s.created_at.strftime('%d/%m/%Y %I:%M%p')
                - if is_late_with_extension(s, @assignment)
                  .alert.alert-warning
                    %span.glyphicon.glyphicon-warning-sign
                    Your submission is late, but you have an extension granted until #{@assignment.latest_extension_for(s.user).due_date.strftime('%d/%m/%Y %I:%M%p')}
                - elsif is_late(s, @assignment) || is_late_without_extension(s, @assignment)
                  .alert.alert-danger
                    %span.glyphicon.glyphicon-warning-sign
                    Your submission is late. Unless you have been granted an exception your assignment may not be marked.
                - else
                  - # pass
            %td= link_to "View Submission", submission_path(s), class: "btn btn-sm btn-primary"
    - if current_user.is_staff_for_course?(@course)
      .tabs
        -# Tabs
        %ul.nav.nav-tabs#submission-tabs
          %li.active
            %a#allsubmissions-tab{href: "#allsubmissions", data:{toggle:"tab"}}
              All Submissions
          %li
            %a#finalsubmissions-tab{href: "#finalsubmissions", data:{toggle:"tab"}}
              Final Submissions
        .tab-content
          = render 'all_submissions'
          = render 'final_submissions'
          :javascript
            // Datatables
            var tableoptions = {
              "searching": true,
              "order" : [],
              "pageLength": 100,
              "pagingType": "full_numbers",
              "dom": '<<"top"lf><"top-pagination"p><t>ip>'
            }

            var allsubmissions_table = null;
            var finalised_table = null;

            document.addEventListener("turbolinks:load", function() {
              if (!allsubmissions_table)
                allsubmissions_table = $('#allsubmissions-table').DataTable(tableoptions);
              if (!finalised_table)
                finalised_table = $('#finalised-table').DataTable(tableoptions);
            });

            document.addEventListener("turbolinks:before-cache", function() {
              if (allsubmissions_table) allsubmissions_table.destroy();
              if (finalised_table) finalised_table.destroy()
            });
  = render 'sidebar_show'

-# Chart
- if current_user.is_staff? && (params[:action] == "show" && params[:controller] == "assignments")
  = render 'chart_js'