<div class="row">
  <div class="col-md-9" id="content">
    <h1 class="page-header"><%= @assignment.name %><div class="menu-icon-container hidden"><span class="glyphicon glyphicon-tasks menu-icon"></span></div></h1>
    <p class="bold">Submission Instructions</p>
    <p class="italic">Assignment for <%= link_to @course.code + ": " + @course.name,
      course_path(@course.id)%></p>
      <p><div class="alert alert-warning" style="font-weight: 600"><span class="glyphicon glyphicon-time"></span>Due at <%= @assignment.due_date.strftime('%d/%m/%Y %I:%M%p') %></div></p>
    <p><%= @assignment.description %></p>

    <h3>Your submissions</h3>
    <table class="table table-hover table-striped">
      <% if @submissions.empty? %>
        <p><div class="alert alert-danger" style="font-weight: 600">
          <span class="glyphicon glyphicon-warning-sign"></span><span>You currently have no submissions for this assignment.</span>
          </div></p>
        <a href="/submissions/<%= @assignment.id.to_s %>/new">New submission</a>
      <% else %>
        <tr>
          <th>Submitted by</th>
          <th>Uni ID</th>
          <th>Date submitted</th>
        </tr>
        <% @submissions.each do |s| %>
          <tr>
            <td><%= s.user.full_name %></td>
            <td><%= s.user.uid %></td>
            <td><span class="glyphicon glyphicon-ok"><%= s.timestamp.strftime('%d/%m/%Y %I:%M%p') %></span></td>
          </tr>
        <% end %>
      <% end %>
    </table>

    <% if current_user.is_staff? %>
    <h3>All submissions</h3>
    <table class="table table-hover table-striped">
      <% if @assignment.submissions.empty? %>
        <p>No submissions found.</p>
      <% else %>
        <tr>
          <th>Submitted by</th>
          <th>Uni ID</th>
          <th>Date submitted</th>
        </tr>
        <% @submissions.each do |s| %>
          <tr>
            <td><%= s.user.full_name %></td>
            <td><%= s.user.uid %></td>
           <td><%= s.timestamp.strftime('%d/%m/%Y %I:%M%p') %></td>
          </tr>
        <% end %>
      <% end %>
    </table>
    <% end %>

  </div>
  <%= render 'sidebar_show' %>
</div>

