<div class="row">
  <div class="col-md-9">
    <h1 class="page-header"><%= @assignment.name %></h1>
    <p class="bold">Submission Instructions</p>
    <p class="italic">Assignment for <%= link_to @course.code + ": " + @course.name,
      "/courses/" + @course.id.to_s %></p>
    <p>Due at <%= @assignment.due_date.strftime('%d/%m/%Y %I:%M%p') %></p>
    <p><%= @assignment.description %></p>

    <!-- Staff view -->
    <h3>Your submissions</h3>
    <table class="table table-hover table-striped">
      <% if @submissions.empty? %>
        <p>You currently have no submissions for this assignment.</p>
        <a href="/submissions/new/<%= @assignment.id.to_s %>">New submission</a>
      <% else %>
        <tr>
          <th>Submission ID</th>
          <th>Date Submitted</th>
          <th>Submissions</th>
        </tr>
        <% @course.assignments.each do |a| %>
          <tr>
           <td><%= a.name %></td>
           <td><%= a.due_date.strftime("%d/%m/%Y %I:%M%p") %></td>
           <td><%= a.submissions.length %></td>
          </tr>
        <% end %>
      <% end %>
    </table>

    <h3>Enrolments</h3>
    <table class="table table-hover table-striped">
      <% if @course.students.length == 0 %>
        <p>No students are enrolled in this course.</p>
        <% if current_user.is_admin_or_convenor? %>
          <a href="/courses/<%= @course.id %>/edit">Enrol students</a>
        <% end %>
      <% else %>
        <tr>
          <th>ID</th>
          <th>Name</th>
        </tr>

        <% @course.students.each do |s| %>
          <tr>
           <td><%= s.uid %></td>
           <td><%= s.firstname + " " + s.surname %></td>
          </tr>
        <% end %>
      <% end %>
    </table>

  </div>
  <%= render 'sidebar_show' %>
</div>

