.row
  %h1.page-header Create a new group
  %p Create the group and batch enroll users using newline seperated student IDs and group names joined with a comma. e.g u1234567, Tuesday 9-11.
  %p Groups that do not currently exist will be created.
  %h3 Enrolments
  = form_for :group, url: groups_url, :html => {:class => "form-horizontal"} do |f|
    %input{:name => "authenticity_token", :type => "hidden", :value => form_authenticity_token}
    %input{:name => "course_id", :type => "hidden", :value => params[:id]}
    .col-md-6
      %label.control-label{:for => "students"} Students
      .input-group
        .controls
          %textarea#students.form-control{:cols => "50", :name => "students", :placeholder => "Paste newline seperated student IDs and group names. e.g: uxxxxxxx, Tuesday 9-11", :rows => "10"}
            - for group in @course.groups
              - for user in group.students
                = "#{user.uid}, #{group.name}\n"
          %input#csv_upload{:name => "csv_upload", :type => "file"}
    .col-md-6
      %label.control-label{:for => "tutors"} Tutors
      .input-group
        .controls
          %textarea#tutors.form-control{:cols => "50", :name => "tutors", :placeholder => "Paste newline seperated tutor IDs and group names. e.g: uxxxxxxx, Tuesday 9-11", :rows => "10"}
            - for group in @course.groups
              - unless group.tutor.nil?
                = "#{group.tutor.uid}, #{group.tutor.name}\n"
          
      .input-group
        .controls
          = f.submit "Create", :class => "btn btn-primary", :style => "float:right;", :type => "submit", data: {disable_with: "Processing..."}