- title @group.name
.row
  #content.col-md-9
    %h1.page-header
      = @group.course.code + ": " + @group.name
      .menu-icon-container.hidden
        %span.glyphicon.glyphicon-tasks.menu-icon
      - if @group.tutor
        %span.uid_heading
          Tutor:
          = link_to @group.tutor.full_name, user_path(@group.tutor)
    %h3 Enrolments
    %table.table.table-hover.table-striped
      - if @group.students.empty?
        %p No students are currently enrolled in this group.
      - else
        %tr
          %th Name
          %th Student ID
        - @group.students.each do |s|
          %tr
            %td= link_to s.full_name, user_path(s)
            %td= link_to s.uid, user_path(s)
  = render 'sidebar_show'