= title "#{@user.full_name}"
.row
  #content.col-md-9
    %h1.page-header
      = @user.full_name
      %span.uid_heading
        (#{@user.uid})
      .menu-icon-container.hidden
        %span.glyphicon.glyphicon-tasks.menu-icon
    %h3 Your courses
    %table.table.table-hover.table-striped
      - if @courses.empty?
        %p You don't have any courses.
        - if current_user.is_admin_or_convenor?
          = link_to 'Create one', new_course_path
      - else
        %tr
          %th Course Code
          %th Name
          %th Convenors
          %th Groups
          %th Assignments
        - @courses.each do |c|
          %tr
            %td= link_to c.code, course_path(c)
            %td= link_to c.name, course_path(c)
            %td
              - c.convenors.each do |convenor|
                = link_to convenor.firstname + " " + convenor.surname, user_path(convenor)
                %br
            %td
              - c.groups.each do |g|
                - if g.users.include?(@user)
                  = link_to g.name, group_path(g)
                  %br
            %td
              - c.assignments.order(due_date: :desc).each do |a|
                = link_to a.name, assignment_path(a)
                %br
    %h3 Your Groups
    %table.table.table-hover.table-striped
      - if !@courses.empty?
        %tr
          %th Course Code
          %th Group Name
        - for c in @user.courses
          - for group in c.groups
            - if group.users.include?(@user)
              %tr
                %td= link_to c.code, course_path(c)
                %td= link_to group.name, group_path(group)
      - elsif !@user.is_admin? && @user.groups.empty?
        %p You don't have any groups.

    %h3 Your Assignments
    .panel-group
      - @courses.each do |course|
        .panel.panel-default
          .panel-heading
            %span{"data-toggle" => "collapse", "data-target" => "#course" + course.id.to_s, href: "#course" + course.id.to_s}
              %h4.panel-title
                #{course.code}
          .panel-collapse.collapse.in{id: "course" + course.id.to_s}
            .panel-body
              %table.table.table-hover.table-striped
                - if @course_assignments[course].nil?
                  %p You don't have any assignments.
                - else
                  %tr
                    %th Course Code
                    %th Assignment
                    %th Date Due
                    %th Your Submissions
                  - @course_assignments[course].uniq.each do |a|
                    %tr
                      %td= link_to a.course.code, course_path(a.course)
                      %td= link_to a.name, assignment_path(a)
                      %td= a.due_date.nil? ? "No due date" : a.due_date.strftime('%Y/%m/%d %H:%M')
                      %td{style: "line-height: 2em;"}
                        - if @user.submissions_for(a).empty?
                          %span.glyphicon.glyphicon-exclamation-sign.warn
                          %span.warn No submission
                          %br
                          = link_to "Add submission", url_prefix + "/submissions/#{a.id}/new"
                        - else
                          - @user.submissions_for(a).each do |s|
                            - if s.finalised
                              %span.glyphicon.glyphicon-thumbs-up.good
                              = link_to s.created_at.strftime('%Y/%m/%d %H:%M'), submission_path(s), class: "good"
                            - else
                              %span.glyphicon.glyphicon-ok
                              = link_to s.created_at.strftime('%Y/%m/%d %H:%M'), submission_path(s)

                            - if is_late_with_extension(s, a)
                              %span.label.label-warning
                                Extension until #{a.latest_extension_for(s.user).due_date.strftime('%Y/%m/%d %H:%M')}
                            - elsif is_late(s, a) || is_late_without_extension(s, a)
                              %span.label.label-danger
                                Late
                            %br
                  
    %h3 Submissions to Review
    %table.table.table-hover.table-striped
      %tr
        %th Submission
        %th Course
        %th Assignment
        %th Date Submitted
        %th Review Status
      - if current_user
        - @assignments.each do |a|
          - for s in a.peer_review_submissions_for(@user)
            %tr
              %td
                = link_to submission_path(s) do
                  %i.glyphicon.glyphicon-share-alt
                  View
              %td= link_to a.course.code, course_path(a.course)
              %td= link_to a.name, assignment_path(s.assignment)
              %td= link_to s.created_at.strftime('%Y/%m/%d %H:%M'), submission_path(s)
              %td
                - if s.reviewed_by?(@user)
                  %span.label.label-success
                    Reviewed
                - else
                  %span.label.label-danger
                    Not Reviewed
  = render 'sidebar_show'
