<div class="row">
  <div class="col-md-9" id="content">
    <h1 class="page-header"><%= @user.full_name %>
    <span class="uid_heading">(<%= @user.uid %>)</span><div class="menu-icon-container hidden"><span class="glyphicon glyphicon-tasks menu-icon"></span></div></h1>

    <h3>Your courses</h3>
    <table class="table table-hover table-striped">
      <% if @user.courses.empty? %>
        <p>You don't have any courses.</p>
        <% if current_user.is_admin_or_convenor? %>
          <%= link_to 'Create one', new_course_path %>
        <% end %>
      <% else %>
        <tr>
          <th>Course Code</th>
          <th>Name</th>
          <th>Convenors</th>
          <th>Lab Groups</th>
          <th>Assignments</th>
        </tr>
        <% @user.courses.each do |c| %>
          <tr>
            <td><%= link_to c.code, course_path(c) %></td>
            <td><%= link_to c.name, course_path(c) %></td>
            <td>
              <% c.convenors.each do |convenor| %>
                <%= link_to convenor.firstname + " " + convenor.surname, user_path(convenor) %><br />
              <% end %>
            </td>
            <td>
              <% c.labgroups.each do |lab| %>
                <%= lab.name %><br />
              <% end %>
            </td>
            <td>
              <% c.assignments.each do |a| %>
                <%= link_to a.name, assignment_path(a) %><br />
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
    
    <h3>Your groups</h3>
    <table class="table table-hover table-striped">
      <% if @user.labgroups.empty? %>
        <p>You don't have any groups.</p>
        <% if current_user.is_admin_or_convenor? %>
         <%= link_to 'Create one', new_group_path %>
        <% end %>
      <% else %>
        <tr>
          <th>Group</th>
          <th>Course</th>
          <% if current_user.is_staff? %><th>Enrolments</th><% end %>
        </tr>
        <% @user.labgroups.each do |g| %>
          <tr>
            <td><%= link_to g.name, labgroup_path(g)%></td>
            <td><%= link_to g.course.name, course_path(g.course) %></td>
            <% if current_user.is_staff? %><td><%= g.users.length %></td><% end %>
          </tr>
        <% end %>
      <% end %>
    </table>
    
    <h3>Your Assignments</h3>
    <table class="table table-hover table-striped">
      <% if current_user.assignments.empty? %>
        <p>You don't have any assignments.</p>
      <% else %>
        <tr>
          <th>Course Code</th>
          <th>Assignment</th>
          <th>Date Due</th>
          <th>Your Submissions</th>
        </tr>
        <% current_user.assignments.each do |a| %>
          <tr>
            <td><%= link_to a.course.code, course_path(a)%></td>
            <td><%= link_to a.name, assignment_path(a)%></td>
            <td><%= a.due_date.strftime('%d/%m/%Y %I:%M%p') %></td>
            <td>
              <% if current_user.submissions_for(a).empty? %>
                <span class="glyphicon glyphicon-warning-sign warn"></span><span class="warn">No submissions found.</span><br><%= link_to "Add submission", new_submission_path %>
              <% else %>
                <% current_user.submissions_for(a).each do |s| %>
                <span class="glyphicon glyphicon-ok good"></span>
                  <%= link_to s.id + " " + s.timestamp.strftime('%d/%m/%Y %I:%M%p'), submission_path(s), class: "good" %><br />
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>

  </div>
  <%= render 'sidebar_show' %>
</div>

