.col-md-3.sidebar
  %ul#sidebar.nav.sidenav
    %li
      %h4
        Actions
        .menu-icon-container
          %span.glyphicon.glyphicon-tasks.menu-icon
    %hr/
    %li.sidebar-item
      %a{:href => "/submissions/#{@assignment.id}/new"}
        %span.glyphicon.glyphicon-plus
        New submission
    - if !@submission.finalised
      %li.sidebar-item
        %a{:href => "/submissions/#{@submission.id}/finalise"}
          %span.glyphicon.glyphicon-check
          Finalise submission
    %li.sidebar-item
      = link_to submission_path(@submission) + "/download" do
        %span.glyphicon.glyphicon-floppy-save
        Download submission
    %li.sidebar-item
      = link_to submission_path(@submission) + "/pdf" do
        %span.glyphicon.glyphicon-floppy-save
        Download PDF
    - if @submission.kind == "plaintext"
      %li.sidebar-item
        = link_to submission_path(@submission) + "/pdf_comments" do
          %span.glyphicon.glyphicon-floppy-save
          Download PDF with comments
    %li.sidebar-item
      = link_to assignment_path(@submission.assignment) do
        %span.glyphicon.glyphicon-file
        View assignment
    %li.sidebar-item
      = link_to submission_path(@submission), method: :delete, |
        data: { confirm: "Are you sure you wish to delete this submission?"} do |
        %span.glyphicon.glyphicon-trash
        Delete submission