.row
  .col-md-9#content
    %h1.page-header
      = "Submission for " + @assignment.name
      .menu-icon-container.hidden
        %span.glyphicon.glyphicon-tasks.menu-icon
    %p
      - if @submission.finalised
        .alert.alert-success{:style => "font-weight: 600"}
          %span.glyphicon.glyphicon-check
          This submission has been finalised.
      - else
        .alert.alert-warning{:style => "font-weight: 600"}
          %span.glyphicon.glyphicon-warning-sign
          This submission is not finalised.
    %p.italic
      = "Submitted at: " + @submission.created_at.strftime('%d/%m/%Y %I:%M%p') + " by "
      = link_to @submission.user.full_name + " (#{@submission.user.uid})", user_path(@submission.user)
    %pre.prettyprint.linenums.lang-hs
      = @submission.plaintext
    
    %h3 Results
    .results
      - if @submission.test_result
        = simple_format @submission.test_result.result
      - else
        %p Your submission is being processed. Check back later to see your results.
    
    %h3 Comments
    - for comment in @submission.comments
      .comment
        .bold
          = User.find(comment.user).full_name
        .small.date
          = comment.created_at.strftime('%d/%m/%Y %I:%M%p')
        %p
          = comment.text
          - if current_user == comment.user
            = link_to "Delete", comment_path(comment), class: "btn btn-xs btn-danger", method: :delete, data: { confirm: "Are you sure you wish to delete your comment?"}
    
    .comment-form
      = form_for @comment do |f|
        = f.text_field :submission_id, value: @submission.id, class: "hidden"
        = f.text_field :user_id, value: current_user.id, class: "hidden"
        = f.text_area :text, placeholder: "Comment", class: "form-control", style: "height: 200px"
        - if current_user.is_staff?
          = f.file_field :file, :type => "file", id: "file-upload"
        = f.submit value: "Add comment", class: "btn btn-xs btn-primary"

  = render 'sidebar_show'

