.row
  .col-md-9#content
    %h1.page-header
      = "Submission for " + @assignment.name
      .menu-icon-container.hidden
        %span.glyphicon.glyphicon-tasks.menu-icon
    %p
      - if @submission.finalised
        .alert.alert-success{:style => "font-weight: 600"}
          %span.glyphicon.glyphicon-check
          This submission has been finalised.
      - else
        .alert.alert-warning{:style => "font-weight: 600"}
          %span.glyphicon.glyphicon-warning-sign
          This submission is not finalised.
    %p.italic
      = "Submitted at: " + @submission.created_at.strftime('%d/%m/%Y %I:%M%p')
    %pre.prettyprint.linenums.lang-hs
      = @submission.plaintext
    
    %h3 Results
    .results
      - if @submission.test_result
        %p
          = simple_format @submission.test_result.result
      - else
        %p Your submission is being processed. Check back later to see your results.

  = render 'sidebar_show'

