<% content_for :head do %>
  <%= stylesheet_link_tag 'login' %>
<% end %>

<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <h2>Log in</h2>
    <div class="panel panel-default">
      <div class="panel panel-body">
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name),
                     :class => "form-inline") do |f| %>
          <div>
            <label for="uid" class="sr-only">Uni ID</label>
            <%= f.text_field :uid, :autofocus => true, :placeholder => "uxxxxxxx" %>
            <label for="password" class="sr-only">Password</label>
            <%= f.password_field :password, :placeholder => "password"%>
            <label for="sign_in" class="sr-only">Sign in</label>
            <%= f.submit "Log in", :class => "btn btn-sm btn-default", :style => "margin-top: -2px;" %>
          </div>

          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>
        <% end %>
      </div>
    </div>
  </div>
</div>
