- title "Groups for #{@course.code}"
%h1.page-header Groups
%p.italic
  Groups for
  %a{href: course_path(@course)}
    = @course.code + ": " + @course.name

- if current_user.is_admin?
  - if Group.all.empty?
    There are no groups.
  - else
    .panel-group
      - for group in Group.all
        .panel.panel-default
          .panel-heading
            %span{"data-toggle" => "collapse", "data-target" => "#group" + group.id.to_s, href: "#group" + group.id.to_s}
              %h4.panel-title
                #{group.name}
          .panel-collapse.collapse.in{id: "group" + group.id.to_s}
            .panel-body
              - if group.users.select{|u| u.type == "Student"}.empty?
                This group currently has no students.
              - else
                %table.table.table-hover.table-striped
                  %tr
                    %th Name
                    %th Student ID
                  - for student in group.users.select{|u| u.type == "Student"}
                    %tr
                      %td
                        = link_to student.full_name, user_path(student)
                      %td
                        = link_to student.uid, user_path(student)

- elsif @course.groups.empty?
  %p This course currently has no groups.
- else
  - for group in @course.groups
    .panel-group{id: "accordion"}
      .panel.panel-default{id: group.id}
        .panel-heading
          %h4.panel-title
            %a{"data-toggle" => "collapse", "data-target" => "#group" + group.id.to_s, href: "#group" + group.id.to_s}
              #{group.name}
          - if group.tutor
            %p.small Tutor: #{group.tutor.full_name}
        .panel-collapse.collapse.in{id: "group" + group.id.to_s}
          .panel-body
            - if group.students.select.empty?
              This group currently has no students.
            - else
              %table.table.table-hover.table-striped
                %tr
                  %th Name
                  %th Student ID
                - for student in group.students
                  %tr
                    %td
                      = link_to student.full_name, user_path(student)
                    %td
                      = link_to student.uid, user_path(student)
          
