<div class="row">
  <div class="col-md-9">
    <h1 class="page-header">Your courses</h1>
    <table class="table table-hover table-striped">
      <% if @courses.empty? %>
        <p>You don't have any courses.</p>
        <% if current_user.is_admin_or_convenor? %>
          <%= link_to 'Create one', new_course_path %>
        <% end %>
      <% else %>
        <tr>
          <th>Course Code</th>
          <th>Name</th>
          <th>Enrolments</th>
          <th>Convenors</th>
          <th>Groups</th>
          <th>Assignments</th>
        </tr>
        <% @courses.each do |c| %>
          <tr>
            <td><%= link_to c.code, course_path(c)%></td>
            <td><%= link_to c.name, course_path(c)%></td>
            <td><%= link_to c.students.length, course_path(c) + '#enrolments' %></td>
            <td>
              <% c.convenors.each do |convenor| %>
                <%=  link_to convenor.full_name, user_path(convenor) %><br />
              <% end %>
            </td>
            <td>
              <% c.labgroups.each do |lab| %>
                <%= link_to lab.name, group_path(lab) %><br />
              <% end %>
            </td>
            <td>
              <% c.assignments.each do |a| %>
                <%= link_to a.name, assignment_path(a) %><br />
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  <%= render 'sidebar' %>
</div>
