<div class="row">
  <div class="col-md-9">
    <h1 class="page-header">Your courses</h1>
    <table class="table table-hover table-striped">
      <% if @courses.empty? %>
        <p>You don't have any courses.</p>
        <% if current_user.is_admin_or_convenor? %>
          <a href="/courses/new">Create one</a>
        <% end %>
      <% else %>
        <tr>
          <th>Course Code</th>
          <th>Name</th>
          <th>Enrolments</th>
          <th>Convenors</th>
          <th>Groups</th>
          <th>Assignments</th>
        </tr>
        <% @courses.each do |c| %>
          <tr>
            <td><%= link_to c.code, c.url%></td>
            <td><%= link_to c.name, c.url %></td>
            <td><%= link_to c.students.length, "/courses/#{c.id.to_s}#enrolments" %></td>
            <td>
              <% c.convenors.each do |convenor| %>
                <%=  link_to convenor.full_name, '/users/'+convenor.id.to_s %><br />
              <% end %>
            </td>
            <td>
              <% c.labgroups.each do |lab| %>
                <%= link_to lab.name, '/labgroups'+lab.id.to_s %><br />
              <% end %>
            </td>
            <td>
              <% c.assignments.each do |a| %>
                <%= link_to a.name, '/assignments/'+a.id.to_s %><br />
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </table>
  </div>
  <%= render 'sidebar' %>
</div>
