- title @course.code
.row
  #content.col-md-9
    %h1.page-header
      = @course.code
      \: #{@course.name}
      .menu-icon-container.hidden
        %span.glyphicon.glyphicon-tasks.menu-icon
    %p= @course.description
    %h3 Assignments
    %table.table.table-hover.table-striped
      - if @all_assignments.empty?
        %p There are currently no assignments for this course.
        - if current_user.is_admin_or_convenor?
          %a{:href => "/assignments/new/#{@course.id}"} Create assignment
      - else
        %tr
          %th Assignment
          %th Deadline (dd/mm/yyyy)
          / %th Finalised Submissions
          / %th Unique Submissions
          %th Total Submissions
        - if current_user.is_staff_for_course?(@course)
          - @all_assignments.each do |a|
            %tr
              %td
                %a{:href => "/assignments/#{a.id.to_s}"}= a.name
              - if !a.due_date.nil?
                %td= a.due_date.strftime("%d/%m/%Y %I:%M%p")
              - else
                %td No due date
              /%td= a.finalised_submissions.map(&:user).uniq.length.to_s + " of " + @population.to_s
              /%td= a.submissions.map(&:user).uniq.count.to_s + " of " + @population.to_s
              %td= a.submissions.count.to_s
        - else
          - @all_assignments.each do |a|
            %tr
              %td
                %a{:href => "/assignments/#{a.id.to_s}"}= a.name
              - if !a.due_date.nil?
                %td= a.due_date.strftime("%d/%m/%Y %I:%M%p")
              - else
                %td No due date
              %td
                - s = current_user.submissions_for(a).sort_by{|x| x.created_at}.last
                - if s.present?
                  - if s.finalised
                    %span.glyphicon.glyphicon-thumbs-up.good
                    = link_to s.created_at.strftime('%d/%m/%Y %I:%M%p'), submission_path(s), class: "good"
                  - else
                    %span.glyphicon.glyphicon-ok
                    = link_to s.created_at.strftime('%d/%m/%Y %I:%M%p'), submission_path(s)

                  - if is_late_with_extension(s, a)
                    %span.label.label-warning
                      Extension
                  - elsif is_late(s, a) || is_late_without_extension(s, a)
                    %span.label.label-danger
                      Late
                - else
                  %span.glyphicon.glyphicon-exclamation-sign.warn
                  %span.warn No submission
    - if current_user.is_staff_for_course?(@course)
      %h3#enrolments Enrolments
      %table.table.table-hover.table-striped.dataTable#enrolments-table
        - if @all_students.nil?
          %p No students are enrolled in this course.
          - if current_user.is_admin_or_convenor?
            = link_to 'Enrol students', edit_course_path(@course.id)
        - else
          %thead
            %tr
              %th ID
              %th Name
              %th Group
          %tbody
            - @all_students.each do |s|
              %tr
                %td= link_to s.uid, user_path(s)
                %td= link_to s.firstname + " " + s.surname, user_path(s)
                %td
                  - if s.groups.select{|g| g.course == @course}.empty?
                    None
                  - else
                    - group = s.groups.select{|g| g.course == @course}.first
                    = link_to group.name, group_path(group)

  = render 'sidebar_show'
  - if current_user.is_staff_for_course?(@course)
    = render 'courses_js'