<div class="row">
  <div class="col-md-9" id="content">
    <h1 class="page-header"><%= @course.code %>: <%= @course.name %><div class="menu-icon-container hidden"><span class="glyphicon glyphicon-tasks menu-icon"></span></div></h1>
    <p><%= @course.description %></p>

    <h3>Assignments</h3>
    <table class="table table-hover table-striped">
      <% if @course.assignments.empty? %>
        <p>There are currently no assignments for this course.</p>
        <% if current_user.is_admin_or_convenor? %>
          <a href="/assignments/new/<%= @course.id %>">Create assignment</a>
        <% end %>
      <% else %>
        <tr>
          <th>Assignment</th>
          <th>Deadline (dd/mm/yyyy)</th>
          <th>Submissions</th>
        </tr>
        <% @course.assignments.each do |a| %>
          <tr>
            <td><a href="/assignments/<%= a.id.to_s %>"><%= a.name %></a></td>
           <td><%= a.due_date.strftime("%d/%m/%Y %I:%M%p") %></td>
           <td><%= a.submissions.length.to_s + " of " + @course.users.length.to_s %></td>
         </tr>
        <% end %>
      <% end %>
    </table>

    <h3 id="enrolments">Enrolments</h3>
    <table class="table table-hover table-striped">
      <% if @course.students.length == 0 %>
        <p>No students are enrolled in this course.</p>
        <% if current_user.is_admin_or_convenor? %>
          <%= link_to 'Enrol students', edit_course_path(@course.id)%>
        <% end %>
      <% else %>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Group</th>
        </tr>

        <% @course.students.each do |s| %>
          <tr>
           <td><%= link_to s.uid, user_path(s) %></td>
           <td><%= link_to s.firstname + " " + s.surname, user_path(s) %></td>
           <td>
             <% if s.groups.select{|g| g.course == @course}.empty? %>
              None
            <% else %>
              <% group = s.groups.select{|g| g.course == @course}.first %>
              <%= link_to group.name, group_path(group) %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </table>

  </div>
  <%= render 'sidebar_show' %>
</div>

