<!DOCTYPE html>
<html>
<head>
  <title>Submissionapp2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'jquery-1.11.1.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
  <div>
    <p class="alert alert-info" onclick="hide(this)"><%= notice %></p>
  </div>
<% end %>
<% if alert %>
  <div>
    <p class="alert alert-danger" onclick="hide(this)"><%= alert %></p>
  </div>
<% end %>

<div class="container">

<%= yield %>

</div>

<div id="footer" class="footer"><hr /></div>

</body>
</html>
